// ============================================================================
// Global Config
// ============================================================================

// Font Stacks
$font-url--google-open-sans     : "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
$font-url--google-grand-hotel   : "https://fonts.googleapis.com/css?family=Grand+Hotel";
$font-url--google-oswal         : "https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700";

// Defenitive Fonts
$stack-sans-serif          : 'Helvetica Neue', 'Helvetica', sans-serif;
$stack-open-sans           : 'Open Sans', $stack-sans-serif;
$stack-oswald              : 'Oswald', $stack-sans-serif;
$stack-grand-hotel         : 'Grand Hotel', $stack-sans-serif;

// Functional Fonts
$font-family--primary     : $stack-open-sans;
$font-family--secondary   : $stack-sans-serif;

// Font Weights
$font-weight--thin         : 200;
$font-weight--light        : 300;
$font-weight--medium       : 400;
$font-weight--semi-bold    : 500;
$font-weight--bold         : 600;
$font-weight--ultra-bold   : 700;

// Descriptive Base Colors
$alabaster    : #F7F7F7;
$ship-gray    : #404041;
$tory-blue    : #1457A6;
$sweet-corn   : #FCF28D;

// Functional Colors
$color-primary       : $sweet-corn;
$color-secondary     : $tory-blue;

$color-area--light   : $alabaster;
$color-area---dark   : $ship-gray;

$color-text          : $ship-gray;

// Text
$base__font-size   : 16px;
$base__line        : 24px;

//Media query breakpoints
$brk-wide: 768px;
