* {
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
   background-color: #F7F7F7;
}

p {
   font-size: 1.1em;
   line-height: 1.5;
   color: #404041;
}

video {
   width: 100%;
}
