.signature {
   &__copy {
      font-family: $stack-oswald;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 3px;
   }

   &__link {
      font-family: $stack-grand-hotel;
      font-size: 27px;
      text-transform: capitalize;
      color: #1457A6;
      text-decoration: none;
   }
}
