.signature {
   &__copy {
      font-family: $stack-oswald;
      font-size: em(14px);
      text-transform: uppercase;
      margin-bottom: em(3px);
   }

   &__link {
      font-family: $stack-grand-hotel;
      font-size: em(27px);
      text-transform: capitalize;
      color: $color-secondary;
      text-decoration: none;
   }
}
